---
import type { Lang } from '../../lib/i18n/i18n';
import { LANGS } from '../../lib/i18n/i18n';
import { getCollection } from 'astro:content';
import { fallbackText } from '../../lib/i18n/i18n';

import Layout from '../../layouts/Layout.astro';
import Header from '../../components/layout/Header.astro';
import Footer from '../../components/layout/Footer.astro';
import CardGrid from '../../components/ui/CardGrid/CardGrid.astro';

export async function getStaticPaths() {
  return LANGS.map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params as { lang: Lang };

const entries = await getCollection('architecture');
const items = entries
  .sort((a, b) => a.data.order - b.data.order)
  .map(({ data, slug }) => ({
    title: fallbackText(data.title, lang),
    description: fallbackText(data.description, lang),
    imageSrc: data.image,
    imageAlt: fallbackText(data.title, lang),
    href: `/${lang}/architecture/${slug}`
  }));
---

<Layout lang={lang} title={lang === 'es' ? 'Arquitectura · Nonome' : 'Architecture · Nonome'}>
  <Header lang={lang} />

  <main class="pageMain pageMain--top">
    <div class="container">
      <h1 class="pageTitle">{lang === 'es' ? 'arquitectura' : 'architecture'}</h1>
    </div>

    <CardGrid items={items} />
  </main>

  <Footer lang={lang} />
</Layout>
