---
import styles from './Card.module.css';
import type { CardProps } from './Card.types';

const { title, description, imageSrc, imageAlt } = Astro.props as CardProps;
---

<article class={styles.card} tabindex="0">
  {imageSrc ? <img class={styles.img} src={imageSrc} alt={imageAlt ?? ''} loading="lazy" /> : null}
  <div class={styles.inner}>
    <div class={styles.title}>{title}</div>
  </div>

  {description ? (
    <div class={styles.reveal}>
      <div class={styles.desc}>{description}</div>
    </div>
  ) : null}
</article>
